body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
	--font-text-theme: Georgia, serif;
	--tab-curve: 13px;
	--tab-radius: 13px;
	--tab-radius-active: 13px;
}


.theme-dark {
	--background-primary: #18004F;
	--background-secondary: #220070;
  }

  .theme-light {
/*	--background-primary: #faecec; */

	--ribbon-background: rgb(193, 188, 193);
	--background-primary: #F2F2F2; /* soft greu */
	--background-secondary: #c7c3c3;
	--tab-background-active:  #F2F2F2;
	--tab-text-color-active:  #c7c3c3;
	/* Default Obsidian highlight */
	--highlight-primary-bg: #acffa3;
	--highlight-primary-fg: #1e1e1e;
  }


.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
